// Dark theme
$backgroundDark: #111827;
$sidebarDark: #1F2937;
$textDark: #fff;

// Bright theme
$backgroundBright: #fff;
$sidebarBright: #f3f4f5;
$textBright: #2a2c2f;

// Brand
$brandPrimary: #FE824F;
